{{ define "main" }}
{{ partial "hero.html" . }}
<div class="w-9/10 max-w-7xl mx-auto px-4">
{{ partial "timeline.html" . }}
{{ partial "vaults.html" . }}
{{ partial "showcase.html" . }}
{{ partial "featured-video.html" . }}
{{ partial "events.html" . }}
{{ partial "interests.html" . }}
{{ partial "mindmap.html" . }}
{{ partial "featured-projects.html" . }}
{{ partial "relevant-repos.html" . }}
{{ partial "contributing.html" . }}
{{ partial "featured-series.html" . }}
{{ partial "latest-posts.html" . }}

	{{/* Center the latest tot below latest posts */}}
	<div class="flex justify-center mt-2">
		<div class="w-full max-w-7xl">
			{{ partial "latest-tot.html" . }}
		</div>
	</div>
{{ partial "support.html" . }}
</div>
{{ end }}
